<div class="post-wrapper m-2">
  <div class="row">
    <div class="col p-4">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="">
          <div class="post-author-name text-start">
            {{ post.authorName }}
          </div>
          <div class="post-date text-start p-1">
            <span class="date" *ngIf="!isPostToday()">
              le {{ post.date | date: "dd/MM/YYYY à HH:mm" }}</span
            >
            <span class="date" *ngIf="isPostToday()">
              aujourd'hui {{ post.date | date: " à HH:mm" }}</span
            >
          </div>
        </div>
        <!--  -->
        <div class="deletepost">
          <button
            class="btn-modify-post"
            alt="modifier ce poste"
            (click)="onclickModify(post._id)"
            *ngIf="
              post.authorName === currentUserName ||
              currentUser.role === environment.roles.admin
            "
          >
            <i class="fas fa-edit" aria-hidden="true"></i>
          </button>

          <button
            class="btn-deletepost"
            alt="supprimer"
            (click)="onDeletePost(post._id)"
            *ngIf="
              post.authorName === currentUserName ||
              currentUser.role === environment.roles.admin
            "
          >
            <i class="fa fa-trash-alt" alt="supprimer" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div
        class="post-propriety d-flex flex-column justify-content-between p-4"
      >
        <div class="post-message text-start">
          {{ post.message }}
        </div>
        <div>
          <img
            [src]="postImage | secureStatic | async"
            class="img-fluid mw-80"
          />
        </div>
        <div class="post-likes text-start p-2">
          <i class="fa-solid fa-heart"></i>
          {{ post.likers.length }}
          <button
            (click)="
              onLikeOrDislike(post._id, post.likers.includes(currentUserId))
            "
            class="btn-like m-2"
          >
            <span *ngIf="post.likers.includes(currentUserId)"
              >Je n'aime plus</span
            >
            <span *ngIf="!post.likers.includes(currentUserId)">J'aime</span>
          </button>
        </div>
      </div>
      <div class="row comment-form-container">
        <div class="post-comment justify-content-end">
          <app-comment
            [comment]="comment"
            *ngFor="let comment of post.comments"
          ></app-comment>
        </div>
        <app-comment-form [postId]="post._id"></app-comment-form>
      </div>
    </div>
  </div>
</div>
