.comment-author {
  font-size: 0.8em;
  font-weight: bold;
}

.authorName {
  font-size: 18px;
  font-weight: 500;
}

.creationDate {
  font-size: 14px;
  font-weight: 300;
}
.comment-container {
  width: 100%;
}
