.post-list-wrapper {
  width: 100%;
  background-color: #eeeeee;
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  .container-post {
    width: 100%;
  }
  .container-user-info {
    display: none;
  }
  .container-member {
    display: none;
  }
}
