.form-post-label {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-postform {
  border-radius: 3px;
  color: white;
  background-color: #4e5166;
  border: none;
  margin: 10px;
  width: 97%;
  height: 45px;
}
.btn-postform:hover {
  background-color: #fd2d01;
  border: solid 1px white;
}

.main-wrapper-form {
  border: solid 4px #fd2d01;
}
.post-form-content label {
  font-weight: 500;
  padding-bottom: 10px;
}
.file-upload {
  font-family: "raleway", cursive;
  font-weight: 600;

  border-radius: 10px;
  text-align: center;
  background-color: #ffd7d7;
}
.upload-btn {
  font-family: "raleway", cursive;
  font-weight: 600;
  width: 100%;
  color: white;
  border-radius: 10px;
  border: solid 1px #fd2d01;
  background-color: #fd2d01;
}
.form-control-file {
  display: none;
}

.btn-back {
  border-radius: 5px;
  background-color: #ffd7d7;
  color: black;
  width: 80px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
  margin-top: 50px;
}
