<div class="post-form-wrapper">
  <div class="post-form-container">
    <div class="post-form d-flex justify-content-center w-100 bg-light">
      <form
        [formGroup]="postForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <div class="row text-center">
          <div class="col-9">
            <label for="postContent" class="form-post-label m-2"
              >Modifiez publication :
              <textarea
                class="form-control"
                rows="3"
                name="postContent"
                formControlName="postContent"
                required
              >
              </textarea>
            </label>
          </div>
          <button class="btn-back col-3" routerLink="/posts">Retour</button>
        </div>

        <div class="row">
          <div class="col justify-content-center">
            <label for="postImage"></label>
            <input
              type="file"
              class="form-control-file"
              id="postImage"
              formControlName="postImage"
              alt="image"
              accept=".png, .jpg, .jpeg, .gif"
              (change)="onFileChange($event)"
              #fileUpload
              required
            />
            <div>
              <img [src]="postImage | secureStatic | async" class="img-fluid" />
            </div>
            <div class="file-upload">
              {{ fileName || "Aucune image sélectionnée." }}
            </div>
            <button
              aria-label="ajouter une image"
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
            >
              Modifiez l'image</button
            ><input
              type="submit"
              class="btn-postform text-center"
              value="Editez"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
