<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6 item d-flex align-items-center flex-column">
          <h3>Services</h3>
          <ul>
            <li><a href="#">post</a></li>
            <li><a href="#">liens</a></li>
          </ul>
        </div>
        <div class="col-6 item d-flex align-items-center flex-column">
          <h3>A propos</h3>
          <ul>
            <li><a href="#">Groupomania</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">Groupomania © 2018</p>
    </div>
  </footer>
</div>
